@import "../valo/valo.scss";

@mixin vaadin-fiddle {
  @include valo;

  // Insert your own theme rules here
  .console-msg-container {
    line-height: 12px;

    .v-label {
      width: 100%;
      white-space: normal;
      font-size: 10px;
      line-height: 10px;
      font-family: monospace;
    }
  }
  .file-editor .CodeMirror {
    height: 100%;
  }
  .tools {
    margin: 14px;
    > div {
	  margin-right: 14px;
	}
  }
  .editor-tabs-and-console > div > .v-splitpanel-first-container {
    overflow: hidden;
  }
}
