@import "../valo/valo.scss";

@mixin vaadin-fiddle {
  @include valo;

  // Insert your own theme rules here
  .console-msg-container {
    line-height: 12px;

    .v-label {
      width: 100%;
      white-space: pre-wrap;
      font-size: 10px;
      line-height: 10px;
      font-family: monospace;
    }
  }
  .file-editor .CodeMirror {
    height: 100%;
  }
  .tools {
    margin: 14px;
    > div {
      margin-right: 14px;
    }
  }
  .editor-tabs-and-console > div > .v-splitpanel-first-container {
    overflow: hidden;
  }
  .v-menubar-popup .v-menubar-menuitem-selected.danger {
    background-color: #ed473b;
    background-image: -webkit-linear-gradient(top, #ee4c3f 2%, #e13e33 98%);
    background-image: linear-gradient(to bottom,#ee4c3f 2%, #e13e33 98%);
    color: black;
  }
  .v-menubar-menuitem.danger {
    color: red;
  }
  .preview-view {
    .CodeMirror {
      font-size: 10pt;
    }
  }
  .preview-view.scale-down {
    .CodeMirror {
      font-size: 8pt;
      .CodeMirror-vscrollbar {
        display: none !important;
      }
    }
  }
  .preview-view.scale-down {
    #result-frame {
      transform: scale(0.75);
      width: 132% !important;
      height: 132% !important;
      left: -16%;
      top: -16%;
      position: absolute;
    }
  }
}
